@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> lizationOptions

@{
    var culture = Context.Features.Get<IRequestCultureFeature>();
    var cultureList = lizationOptions.Value.SupportedCultures!
    .Select(c => new SelectListItem { Value = c.Name, Text = Localizer.GetString(c.Name) }).ToList();
    var returnUrl = string.IsNullOrWhiteSpace(Context.Request.Path) ?
    "~/" : $"~{Context.Request.Path.Value}{Context.Request.QueryString}";
}

<div>
    <form asp-action="CultureManager" asp-controller="Home" method="post" asp-route-returnUrl="@returnUrl">
        <select name="culture" asp-for="@culture!.RequestCulture.UICulture.Name" asp-items="cultureList" onchange="this.form.submit()"></select>
    </form>
</div>